body {
    margin: 0 auto;
    width: 960px;
    display: flex;
    flex-direction: column;
}

#etch-container {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    height: 960px; 
    width: 960px;
    /* background-color: red;  for telling if alignments are off */
    border: solid 2px black;   
}

#info {
    text-align: center;
    margin: 0 auto;
    display: block;
    margin-bottom: 25px;
}

.square {
    background-color: white;   
}

#setSize {
    margin-bottom: 20px;
    margin-top: 20px;    
}